/* top */
.top{
  text-align: center;
}
.top>img{
  min-width: 100%;
  max-width: 100%;
}
.top-font{
  padding: 50px 25px;
}
.top-font>p{
  font-size: 25px;
  line-height: 38px;
  text-align: left;
}
/* top end */

/* service */
.service{
  width: 100%;
  height: 460px;
}
.service>img{
  display: block;
  margin: 0 auto;
}
/* service end */